# ДЗ по "Библиотеки Python для Data Science: Numpy, Matplotlib, Scikit-learn"
##  Видеоурок 6. Обучение с учителем в Scikit-learn.
* Домашнее задание:  
[Практическое задание](https://gbcdn.mrgcdn.ru/uploads/asset/5788496/attachment/d8fe09d4348597c3d8cf86f8d459dc5d.pdf).

## Тема “Обучение с учителем””

In [154]:
# Устанавливаем пакеты есои они не установлены
# !pip install pandas
# !pip install numpy
# !pip install -U scikit-learn

### Задание 1
- Импортируйте библиотеки `pandas` и `numpy`.
- Загрузите `Boston House Prices dataset` из встроенных наборов данных библиотеки `sklearn`.
- Разбейте эти датафреймы на тренировочные (`X_train`, `y_train`) и тестовые (`X_test`, `y_test`) с помощью функции `train_test_split` так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент `random state` должен быть равен 42.
- Создайте модель линейной регрессии под названием `lr` с помощью класса `LinearRegression` из модуля `sklearn.linear_model`.
- Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [155]:
# Загружаем необходимые библиотеки
import numpy as np
import pandas as pd

# Уберем warnings
import warnings
warnings.filterwarnings('ignore')

В новых версиях `scikit-learn` нет датасета `boston`, но хочется воспользоваться последней версией `scikit-learn`. Поэтому воспользуемся [инструкцией](https://scikit-learn.org/1.0/modules/generated/sklearn.datasets.load_boston.html) приведённой на официальном сайте.

In [156]:
# Загрузим датасет Boston
data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]
# Преобразуем его в датафрейм
# Фичи
X = pd.DataFrame(data, columns=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'])
# Таргет
y = pd.DataFrame(target, columns=['price'])

In [157]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [158]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [159]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [160]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [161]:
# Модуль для зазбиения выборки на тренировочнию и тестовую
from sklearn.model_selection import train_test_split

# Разобьём выборку на тренировочную (70%) и тестовую (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [162]:
X_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
116,0.13158,0.0,10.01,0.0,0.547,6.176,72.5,2.7301,6.0,432.0,17.8,393.30,12.04
45,0.17142,0.0,6.91,0.0,0.448,5.682,33.8,5.1004,3.0,233.0,17.9,396.90,10.21
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,21.0,386.85,6.58
468,15.57570,0.0,18.10,0.0,0.580,5.926,71.0,2.9084,24.0,666.0,20.2,368.74,18.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.17120,0.0,8.56,0.0,0.520,5.836,91.9,2.2110,5.0,384.0,20.9,395.67,18.66
270,0.29916,20.0,6.96,0.0,0.464,5.856,42.1,4.4290,3.0,223.0,18.6,388.65,13.00
348,0.01501,80.0,2.01,0.0,0.435,6.635,29.7,8.3440,4.0,280.0,17.0,390.94,5.99
435,11.16040,0.0,18.10,0.0,0.740,6.629,94.6,2.1247,24.0,666.0,20.2,109.85,23.27
102,0.22876,0.0,8.56,0.0,0.520,6.405,85.4,2.7147,5.0,384.0,20.9,70.80,10.63

In [163]:
# Модуль линейной регрессии
from sklearn.linear_model import LinearRegression

In [164]:
lr = LinearRegression()
# Обучим модель
lr.fit(X_train, y_train)
# Выполним predict
y_pred = lr.predict(X_test)

y_pred.shape

(152, 1)

In [165]:
# Посмотрим реальные и предсказанные значения
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

Одной из основных метрик для оценки качества моделей регрессии является _средняя квадратическая ошибка_ или _mean squared error_, сокращённо _mse_. Она вычисляется как среднее от квадратов ошибок на каждом из объектов:

In [169]:
from sklearn.metrics import mean_squared_error

mean_squared_error(check_test["y_pred"], check_test["y_test"])

21.51744423117709

Также применяется средняя абсолютная ошибка. Она представляет из себя среднее не от квадратов ошибок, а от их модулей:

In [170]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(check_test["y_pred"], check_test["y_test"])

3.1627098714573947

In [166]:
# Создадим массив Х
x = np.linspace(-3, 3, 51)
x

array([-3.  , -2.88, -2.76, -2.64, -2.52, -2.4 , -2.28, -2.16, -2.04,
       -1.92, -1.8 , -1.68, -1.56, -1.44, -1.32, -1.2 , -1.08, -0.96,
       -0.84, -0.72, -0.6 , -0.48, -0.36, -0.24, -0.12,  0.  ,  0.12,
        0.24,  0.36,  0.48,  0.6 ,  0.72,  0.84,  0.96,  1.08,  1.2 ,
        1.32,  1.44,  1.56,  1.68,  1.8 ,  1.92,  2.04,  2.16,  2.28,
        2.4 ,  2.52,  2.64,  2.76,  2.88,  3.  ])

In [167]:
# Создадим массивы y1, y2, y3, y4
y1 = x**2
y2 = 2 * x + 0.5
y3 = -3 * x - 1.5
y4 = np.sin(x)
print(y1)
print(y2)
print(y3)
print(y4)

[9.     8.2944 7.6176 6.9696 6.3504 5.76   5.1984 4.6656 4.1616 3.6864
 3.24   2.8224 2.4336 2.0736 1.7424 1.44   1.1664 0.9216 0.7056 0.5184
 0.36   0.2304 0.1296 0.0576 0.0144 0.     0.0144 0.0576 0.1296 0.2304
 0.36   0.5184 0.7056 0.9216 1.1664 1.44   1.7424 2.0736 2.4336 2.8224
 3.24   3.6864 4.1616 4.6656 5.1984 5.76   6.3504 6.9696 7.6176 8.2944
 9.    ]
[-5.5  -5.26 -5.02 -4.78 -4.54 -4.3  -4.06 -3.82 -3.58 -3.34 -3.1  -2.86
 -2.62 -2.38 -2.14 -1.9  -1.66 -1.42 -1.18 -0.94 -0.7  -0.46 -0.22  0.02
  0.26  0.5   0.74  0.98  1.22  1.46  1.7   1.94  2.18  2.42  2.66  2.9
  3.14  3.38  3.62  3.86  4.1   4.34  4.58  4.82  5.06  5.3   5.54  5.78
  6.02  6.26  6.5 ]
[  7.5    7.14   6.78   6.42   6.06   5.7    5.34   4.98   4.62   4.26
   3.9    3.54   3.18   2.82   2.46   2.1    1.74   1.38   1.02   0.66
   0.3   -0.06  -0.42  -0.78  -1.14  -1.5   -1.86  -2.22  -2.58  -2.94
  -3.3   -3.66  -4.02  -4.38  -4.74  -5.1   -5.46  -5.82  -6.18  -6.54
  -6.9   -7.26  -7.62  -7.98  -8.34  -8.7   -9.06  -9.42  -9.78 -10.14
 -10.5 ]
[-0.14112001 -0.25861935 -0.37239904 -0.48082261 -0.58233065 -0.67546318
 -0.75888071 -0.83138346 -0.89192865 -0.93964547 -0.97384763 -0.9940432
 -0.99994172 -0.99145835 -0.9687151  -0.93203909 -0.88195781 -0.81919157
 -0.74464312 -0.65938467 -0.56464247 -0.46177918 -0.35227423 -0.23770263
 -0.11971221  0.          0.11971221  0.23770263  0.35227423  0.46177918
  0.56464247  0.65938467  0.74464312  0.81919157  0.88195781  0.93203909
  0.9687151   0.99145835  0.99994172  0.9940432   0.97384763  0.93964547
  0.89192865  0.83138346  0.75888071  0.67546318  0.58233065  0.48082261
  0.37239904  0.25861935  0.14112001]

In [168]:
# Создаём массив 2х2 для графиков
fig, ax = plt.subplots(nrows=2, ncols=2)
ax1, ax2, ax3, ax4 = ax.flatten()

# Задаём размеры фигуры 8х6 дюймов
fig.set_size_inches(8, 6)
# Зазоры между графиками по вертикали и горизонтали
fig.subplots_adjust(wspace=0.3, hspace=0.3)

ax1.plot(x, y1)
# Название графика
ax1.set_title("График y1")
# Задаём границы оси по Х
ax1.set_xlim([-5, 5])

ax2.plot(x, y2)
ax2.set_title("График y2")

ax3.plot(x, y3)
ax3.set_title("График y3")

ax4.plot(x, y4)
ax4.set_title("График y4")

plt.show()

NameError: name 'plt' is not defined

In [ ]:
# Импоррртируем библиотеку pandas
import pandas as pd
# Установим стиль для графиков 'fivethirtyeight'
plt.style.use('fivethirtyeight')

# Читаем csv файл
df = pd.read_csv('./creditcard.csv', engine='python', on_bad_lines='skip')
df.head()

In [ ]:
df.shape

In [ ]:
# Подсчитаем количество уникальных значений в целевой переменной 'Class'
class_value = df['Class'].value_counts()
class_value

In [ ]:
# Построим столбчатую диаграмму
class_value.plot(kind="bar")

plt.show()

In [ ]:
# Диаграмма с использованием логарифмического масштаба
class_value.plot(kind="bar", logy=True)

plt.show()

In [ ]:
# Мошенники
scammers = df.query('Class == 1')['V1']
scammers

In [ ]:
# Нормальные
normal = df[df['Class'] == 0]['V1']
normal

In [ ]:
# Параметры заголовка
title_font = {
    "fontsize": 16,
    "fontweight": "bold",
    "color": "#FFA500",
    "family": "serif",
}

# Параметры надписей
label_font = {
    "fontsize": 14,
    "family": "serif",
}

# Графики с осью плотности распределения, заданной прозрачностью, цветом и бинами
plt.hist(normal, density=True, bins=20, alpha=0.5, color="grey", label="Class 0 (нормальные)")
plt.hist(scammers, density=True, bins=20, alpha=0.5, color="red", label="Class 1 (жульё)")
# Подпись оси Х
plt.xlabel("V1", fontdict=label_font)
# Название графика
plt.title("Нормальные VS жульё", fontdict=title_font)
# Отображаем легенду графика
plt.legend(loc="center left")

plt.show()

#### 1. Создать одномерный массив Numpy под названием `a` из 12 последовательных целых чисел чисел от 12 до 24 невключительно

In [ ]:
a = np.arange(12, 24)
a

#### 2. Создать 5 двумерных массивов разной формы из массива `a`. Не использовать в аргументах метода `reshape` число -1.

In [ ]:
a1 = a.reshape(2, 6)
a1

In [ ]:
a2 = a.reshape(3, 4)
a2

In [ ]:
a3 = a.reshape(4, 3)
a3

In [ ]:
a4 = a.reshape(6, 2) 
a4

In [ ]:
a5 = a.reshape(12, 1)
a5

#### 3. Создать 5 двумерных массивов разной формы из массива `a`. Использовать в аргументах метода `reshape` число -1 (в трех примерах - для обозначения числа столбцов, в двух - для строк).

In [ ]:
a1 = a.reshape(2, -1)
a1

In [ ]:
a2 = a.reshape(3, -1)
a2

In [ ]:
a3 = a.reshape(4, -1)
a3

In [ ]:
a4 = a.reshape(-1, 2)
a4

In [ ]:
a5 = a.reshape(-1, 1)
a5

#### 4. Можно ли массив Numpy, состоящий из одного столбца и 12 строк, назвать одномерным?

In [ ]:
a5

In [ ]:
a5[2, 0]

In [ ]:
a5.shape

##### Думаю, что это двумерный массив, посколько нужно указывать два индекса, чтобы получить элемент.

#### 5. Создать массив из 3 строк и 4 столбцов, состоящий из случайных чисел с плавающей запятой из нормального распределения со средним, равным 0 и среднеквадратичным отклонением, равным 1.0. Получить из этого массива одномерный массив с таким же атрибутом `size`, как и исходный массив.  

[Модуль random](https://www.dmitrymakarov.ru/python/random-11-03/)

In [ ]:
# зададим точку отсчета
np.random.seed(245)

# создадим массив 3х4 (12 значений) нормально распределенной величины с матожиданием 0 и СКО 1
b = np.random.normal(0, 1, 12).reshape(3, -1)
b

In [ ]:
print(f'Среднее значение: {b.mean()}, Среднеквадратичное отклонение: {b.std()}')

In [ ]:
b2 = b.reshape(-1)
b2

In [ ]:
b.size == b2.size

In [ ]:
# Посмотрим на распределение
plt.hist(b2, density=True, bins=20, alpha=0.5)
# Название графика
plt.title("Распределение", fontdict=title_font)
# Подпишем ось y
plt.ylabel("Плотность распределения", fontdict=label_font)

plt.show()

#### 6. Создать массив `a`, состоящий из целых чисел, убывающих от 20 до 0 невключительно с интервалом 2.

In [ ]:
a = np.arange(20, 0, -2)
a

#### 7. Создать массив `b`, состоящий из 1 строки и 10 столбцов: целых чисел, убывающих от 20 до 1 невключительно с интервалом 2. В чем разница между массивами `a` и `b`?

In [ ]:
b = np.arange(20, 1, -2).reshape(1, 10)
b

In [ ]:
a.shape

In [ ]:
b.shape

##### Разница в том, что массив `a` одномерный, а массив `b` двумерный.

#### 8. Вертикально соединить массивы `a` и `b`. `a` - двумерный массив из нулей, число строк которого больше 1 и на 1 меньше, чем число строк двумерного массива `b`, состоящего из единиц. Итоговый массив `v` должен иметь атрибут `size`, равный 10.

In [ ]:
a = np.zeros((3, 2))
a

In [ ]:
b = np.ones((2, 2))
b

In [ ]:
# Способ 1
v = np.vstack((a, b))
v

In [ ]:
v.size

In [ ]:
# Способ 2
v = np.concatenate((a, b), axis=0)
v

In [ ]:
v.size

#### 9. Создать одномерный массив `а`, состоящий из последовательности целых чисел от 0 до 12. Поменять форму этого массива, чтобы получилась матрица `A` (двумерный массив Numpy), состоящая из 4 строк и 3 столбцов. Получить матрицу `At` путем транспонирования матрицы `A`. Получить матрицу `B`, умножив матрицу `A` на матрицу `At` с помощью матричного умножения. Какой размер имеет матрица `B`? Получится ли вычислить обратную матрицу для матрицы `B` и почему?

In [ ]:
a = np.arange(1, 13)
a

In [ ]:
A = a.reshape(4, 3)
A

In [ ]:
At = A.T
At

In [ ]:
B =  A.dot(At)
B

In [ ]:
B.shape

In [ ]:
def calc_param_matrix(matrix):
    '''
    Функция вычисляет определитель матрицы и обратную матрицу.
    
    :param matrix: Исследуемая матрица,
    :return: вердикт в txt, обратная матрица.
    '''
    result_out = 'Определитель матрицы равен 0, обратную матрицу вычислить нельзя'
    matrix_1 = 0
    
    # Вычисляем определитель матрицы
    D = np.round(np.linalg.det(matrix), decimals=2)
    
    # Проверяем, чему равен определитель матрицы, если нулю, то  обратную матрицу вычислить нельзя
    if D:
        result_out = f'Определитель матрицы равен: {D}\n'
        # Вычислим ранг матрицы
        rang = np.linalg.matrix_rank(matrix)
        result_out += f'Ранг матрицы равен: {rang}\n'
        # Вычисляем обратную матрицу
        matrix_1 = np.linalg.inv(matrix)
        result_out += 'Обратная матрица\n'
        result_out += np.array2string(matrix_1)
        # Проверяем перемножаем матрицу и обратную матрицу, получим единичную матрицу
        result_out += '\nПроверка (матрица * обратная матрица)\n'
        result_out += np.array2string(np.round(matrix_1.dot(matrix), decimals=2))
    
    return result_out, matrix_1

In [ ]:
# print(calc_param_matrix([[1.,2], [3, 4]])[0])    # тест
print(calc_param_matrix(B)[0])

##### Матрица B имеет размер 4х4, обратную матрицу вычислить нельзя, по скольку определитель матрицы равен 0

#### 10. Инициализируйте генератор случайных числе с помощью объекта `seed`, равного 42.

In [ ]:
# Инициализируем генератор случайных чисел
np.random.seed(42)

#### 11. Создайте одномерный массив c, составленный из последовательности 16-ти случайных равномерно распределенных целых чисел от 0 до 16 невключительно.

[Модули math и numpy](https://education.yandex.ru/handbook/python/article/moduli-math-i-numpy)  
[Работа со случайными величинами (numpy.random и scipy.stats)](https://miptstats.github.io/courses/python/07_random.html)

In [ ]:
# Случайные равномерно распределённые числа
a = np.random.uniform(0, 15, 16).astype(int)
a

In [ ]:
# Посмотрим на распределение
plt.hist(a, density=True, bins=20, alpha=0.5)
# Название графика
plt.title("Распределение", fontdict=title_font)
# Подпишем ось y
plt.ylabel("Плотность распределения", fontdict=label_font)

plt.show()

#### 12. Поменяйте его форму так, чтобы получилась квадратная матрица `C`. Получите матрицу `D`, поэлементно прибавив матрицу `B` из предыдущего вопроса к матрице `C`, умноженной на 10. Вычислите определитель, ранг и обратную матрицу `D_inv` для `D`.

In [ ]:
C = a.reshape(4, -1)
C

In [ ]:
B

In [ ]:
D = B + C * 10
D

In [ ]:
log_matrix, D_inv = calc_param_matrix(D)
print(log_matrix)

In [ ]:
# Посмотрим, что записалось
D_inv

#### 13. Приравняйте к нулю отрицательные числа в матрице `D_inv`, а положительные - к единице. Убедитесь, что в матрице `D_inv` остались только нули и единицы. С помощью функции `numpy.where`, используя матрицу `D_inv` в качестве маски, а матрицы `B` и `C` - в качестве источников данных, получите матрицу `E` размером 4x4. Элементы матрицы `E`, для которых соответствующий элемент матрицы `D_inv` равен 1, должны быть равны соответствующему элементу матрицы `B`, а элементы матрицы `E`, для которых соответствующий элемент матрицы `D_inv` равен 0, должны быть равны соответствующему элементу матрицы `C`.

In [ ]:
# Заменим данные > 0 на 1, < 0 на 0? 
D_inv[D_inv > 0] = 1
D_inv[D_inv < 0] = 0
D_inv = D_inv.astype(int)
D_inv

In [ ]:
# Создадим пустую матрицу 4ч=х4
E = np.zeros((4, 4))
E

In [ ]:
# Перенесём в матрицу E элементы из матрицы В накладывая маску D_inv (условие в маске, переносим элементы равные 1 в маске)
E[np.where(D_inv == 1)] = B[np.where(D_inv == 1)] 
E

In [ ]:
# Перенесём в матрицу E элементы из матрицы С накладывая маску D_inv (условие в маске, переносим элементы равные 0 в маске)
E[np.where(D_inv == 0)] = C[np.where(D_inv == 0)] 
E = E.astype(int)
E